.section {
  position: relative;
}

.container {
  height: 100dvh;
  max-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1.5fr;
  padding: 4rem;
  background-color: rgb(18, 18, 18);
}

.works {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 10rem;
    text-transform: uppercase;
    font-family: var(--font-sixcaps);
    line-height: 1;
    padding: 2rem 4rem;
  }
}
.work {
  flex: 1;
  position: relative;
  text-decoration: none;
  color: white;

  &:nth-of-type(1) {
    border-top: 1px solid #383838 !important;
  }

  &:nth-of-type(5) {
    border-bottom: 1px solid #383838 !important;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
    gap: 2rem;
  }

  &__track-name {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;

    opacity: 0.6;

    transition: opacity 0.3s, margin-left 0.3s;
  }

  &__artists {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0.4;

    transition: opacity 0.3s;
  }

  &:has(.active) {
    .work__track-name,
    .work__artists {
      transition: opacity 0.3s;
      opacity: 1;
    }
  }
}
.active {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: overlay;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.preview {
  padding: 4rem;
  height: 100%;

  &__image-container {
    width: 40rem;
    height: 40rem;
    border-radius: 6px;
    margin-bottom: 5rem;
    overflow: hidden;
    margin-inline: auto;
  }

  // &__image {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   border-radius: 6px;
  // }

  &__platform {
    svg {
      opacity: 0.4;
      transform: scale(1);
      transition: opacity 0.3s, transform 0.1s cubic-bezier(0.3, 0, 0, 1);

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }

  &__track-name {
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: var(--font-sixcaps);
    line-height: 1;
    font-weight: 400;
  }

  &__artists {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    opacity: 0.6;
  }

  &__artist-separator {
    margin: 0 0.5rem;
    opacity: 0.4;
  }

  &__genres {
    font-size: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__genre {
    background-color: rgb(127, 90, 208);
    line-height: 1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  &__platforms {
    color: #b4b4b4;
    display: flex;
    gap: 3rem;
  }

  &__info {
    width: 80%;
    padding-inline: 3rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
  }
}
