.desc {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    height: 50dvh;
  }

  &__container {
    width: 60%;
    font-size: clamp(1.6rem, 2vw, 4rem);
  }
}

.word {
  display: inline-block;
  margin-right: 0.6ch;
}

.letter {
  opacity: 0.1;
}
