@use "./responsive-mixins.scss" as *;

.hamburger {
  position: fixed;
  top: 2rem;
  right: 4rem;
  width: 4rem;
  height: 4rem;
  z-index: 1000;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 0.4rem;
}

.open {
  width: 100%;
  height: 100%;
  position: relative;
}

.bar {
  width: 50%;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &--1 {
    top: 30%;
  }
  &--2 {
    top: 50%;
  }
  &--3 {
    top: 70%;
  }
}

.close {
  width: 100%;
  height: 100%;
}

.line {
  width: 65%;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &--1 {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &--2 {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.navbar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0e141d;
  z-index: 999;

  display: grid;
  grid-template-columns: 1fr 1fr;
  @include respond-to(md) {
    grid-template-columns: 1fr;
  }
}

.section {
  &--left {
    padding: 8rem 4rem;
    display: flex;
    align-items: center;
    height: 100%;

    @include respond-to(md) {
      display: none;
    }

    .content {
      width: 100%;
    }
  }

  &--right {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @include respond-to(md) {
      padding: 6rem;
      gap: 2rem;
    }

    @include respond-to(sm) {
      padding: 4rem;
    }
    @include respond-to(xs) {
      padding: 2rem;
    }

    .nav-link {
      text-decoration: none;
      font-size: 14.8rem;
      font-family: var(--font-sixcaps);
      width: fit-content;
      line-height: 0.95;
      position: relative;
      color: #fff;
      transition: margin-left 0.3s cubic-bezier(0.65, 0.05, 0, 1);

      @include respond-to(md) {
        font-size: 12rem;
      }

      @include respond-to(sm) {
        font-size: 10rem;
      }
      @include respond-to(xs) {
        font-size: 9rem;
      }

      &:hover {
        margin-left: 2rem;
      }
    }
    .nav-link--disabled {
      color: #808080;
      pointer-events: none !important;

      &::after {
        content: "Coming Soon";
        position: absolute;
        width: max-content;
        left: 102%;
        bottom: 1rem;
        font-size: 1rem;
        font-family: var(--font-poppins);
        color: #0e141d;
        background-color: #808080;
        padding: 0.3rem 0.6rem;
        border-radius: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;

        @include respond-to(md) {
          font-size: 0.8rem;
        }
      }

      &.show-badge::after {
        opacity: 1;
      }
    }

    .text-reveal {
      height: 100%;
      width: 120%;
      background-color: #ac5bdb;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -2rem;
      z-index: 1000;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10fr 1fr;

  grid-template-areas:
    "one one one one one one"
    "two two three three three three";
  height: 55rem;
  width: 100%;
  gap: 2rem;

  @include respond-to(lg) {
    grid-template-areas:
      "one one one one one one"
      "two two two three three three";
  }

  .grid-item {
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;

    &--1 {
      grid-area: one;
      background-color: #cf93f2;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: end;

      &:hover {
        .details__title {
          margin-right: 2rem;
        }
        .details__track {
          margin-right: 1rem;
        }
        .details__icon svg {
          transform: scale(1.2);
        }

        .release-image {
          transform: scale(1.1);
        }
      }

      .circle {
        aspect-ratio: 1;
        outline: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        bottom: 0;
      }

      .details {
        text-align: right;
        padding: 1rem 2rem;
        position: relative;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8rem;
        &__title {
          font-size: clamp(3rem, 6vw, 18rem);
          font-family: var(--font-sixcaps);
          line-height: 1;
          letter-spacing: 1px;
          font-weight: 500;
          color: #0e141d;
          transition: margin-right 0.5s cubic-bezier(0.65, 0.05, 0, 1);
        }

        &__track {
          font-size: 6.4rem;
          font-family: var(--font-sixcaps);
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: 1px;
          font-weight: 500;
          color: #0e141d;
          transition: margin-right 0.7s cubic-bezier(0.65, 0.05, 0, 1);
        }

        &__icon svg {
          transition: transform 0.5s cubic-bezier(0.65, 0.05, 0, 1);
        }
      }
    }
    &--2 {
      grid-area: two;
      background-color: #192230;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
    &--3 {
      grid-area: three;
      background-color: #192230;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &:hover {
        .updates-image {
          transform: scale(1.1);
        }

        .updates-title {
          margin-right: 2rem;
        }

        .updates-desc {
          margin-right: 1rem;
        }
      }
    }
  }
}
.image-container {
  width: 40%;
  height: 90%;
  position: relative;
  z-index: 1001;
  overflow: hidden;
  border-radius: 0.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(207, 147, 242);
    mix-blend-mode: overlay;
    border-radius: 0.8rem;
    z-index: 9999;
  }

  @include respond-to(lg) {
    display: none;
  }
}

.main-left {
  height: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.news-title {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.news-heading {
  font-size: clamp(6rem, 9vw, 11.2rem);
  font-family: var(--font-sixcaps);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

.news-icon {
  margin-top: 1rem;
}

.news-desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem 2rem;
}

.desc-title {
  font-size: clamp(4rem, 4vw, 6.4rem);
  font-family: var(--font-sixcaps);
  text-transform: uppercase;
  color: rgb(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1rem;
}

.desc-desc {
  font-size: clamp(0.6rem, 2vw, 1.6rem);
  font-family: var(--font-poppins);
  color: rgb(255, 255, 255, 0.5);
  font-weight: 400;
  margin-bottom: 1rem;
  text-wrap: balance;
}

.updates-image-container {
  width: 45%;
  height: 85%;
  position: absolute;
  overflow: hidden;
  border-radius: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;

  @include respond-to(lg) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6788b9;
    mix-blend-mode: overlay;
    border-radius: 0.8rem;
    z-index: 9999;
  }
}

.updates-image {
  filter: grayscale(1);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0, 1);
}

.updates-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  height: 100%;
  grid-area: 1/2;
  text-align: right;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

.updates-title {
  font-size: clamp(6rem, 9vw, 11.2rem);
  font-family: var(--font-sixcaps);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: margin-right 0.5s cubic-bezier(0.65, 0.05, 0, 1);
}
.updates-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.2rem;
}

.updates-desc {
  font-size: clamp(1rem, 4vw, 1.2rem);
  color: rgb(255, 255, 255, 0.5);
  font-weight: 500;
  line-height: 1;

  transition: margin-right 0.5s cubic-bezier(0.65, 0.05, 0, 1);
  transition-delay: 0.2s;
}

.updates-icon {
  display: flex;
  justify-content: end;
  align-items: end;
}
